.home {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: nowrap;
  width: 98vw;
}
.col1 {
  flex-basis: 400px;
  /* height: 90vh; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-shrink: 0;
}
.col2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 595px;
  flex-shrink: 1;
}
.col3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-basis: 300px;
  flex-shrink: 0;
}

@media (max-width: 1160px) {
  .home {
    width: 95vw;
    flex-wrap: wrap;
  }
  .col1 {
    order: 1;
    flex-grow: 0.5;
  }
  .col2 {
    order: 3;
    flex-grow: 1;
  }
  .col3 {
    order: 2;
    flex-grow: 0.5;
  }
}

@media (max-width: 805px) {
  .home {
    flex-direction: column;
    width: 90vw;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
  }
  .col3,
  .col1,
  .col2 {
    width: 100%;
    flex-basis: 425px;
    flex-shrink: 0;
  }
}
