<div>
  <div *ngIf="!CurrentLoaded || !PastLoaded">Loading...</div>
  <div class="error" *ngIf="CurrentLoaded && CurrentError">
    Couldn't Find City Data. Please try again!
  </div>
  <div *ngIf="CurrentLoaded && !CurrentError" class="city">
    <div class="col1">
      <app-current-weather
        [weatherData]="this.weatherData"
      ></app-current-weather>
      <app-weekly-weather [weatherData]="this.weatherData"></app-weekly-weather>
    </div>
    <div class="col2">
      <app-weather-details
        [weatherData]="this.weatherData"
      ></app-weather-details>
      <app-forecast [weatherData]="weatherData"></app-forecast>
      <app-monthly-forecast
        *ngIf="PastLoaded"
        [monthlyData]="monthlyData"
      ></app-monthly-forecast>
    </div>
  </div>
</div>

<!-- <p>City weather</p> -->
