<div class="container">
  <div class="weekly-weather">
    <div *ngFor="let day of weeklyWeather; let i = index">
      <div class="day">
        <p class="text">{{ getDay(day.date) }}</p>
        <div>
          <img
            src="{{
              getImageSrc(day.hourly[9].weatherCode, day.hourly[9].isdaytime)
            }}"
            alt="{{ day.weatherCode }}"
            width="30px"
            style="margin-right: 10px"
          />
          <img
            src="{{
              getImageSrc(day.hourly[21].weatherCode, day.hourly[21].isdaytime)
            }}"
            alt="{{ day.weatherCode }}"
            width="30px"
          />
        </div>
        <p class="text">{{ day.mintempC }}°/{{ day.maxtempC }}°</p>
      </div>
      <!-- <hr /> -->
    </div>
  </div>
</div>
